<table class="footer">
  <tr>
    <td valign="top" class="cel1 bold"><%==I18n.t(:footer_left)%></td>
    <td valign="top" class="cel2 cell"><%==I18n.t(:footer_left2)%></td>
    <td valign="top" class="cel3 bold"><%==I18n.t(:footer_right)%> </td>
    <td valign="top" class="cel4 cell"><%==I18n.t(:footer_right2)%></td>
  </tr>
</table>