<%=   hook :thanks do %> 
<table class="thanks">
  <tr>
    <td class="thanks cell" cellspan="2"><%=I18n.t("#{params[:template]}.thanks" , :order => @order)%> </td>
    <td class="cell">&nbsp;</td>
  </tr>
  <tr>
    <td class="cell" cellspan="2"> </td>
    <td class="cell">&nbsp;</td>
  </tr>
</table>
<% end %>  
