<%   # Inside line_items table with 5 columns
totals = [ [ I18n.t(:subtotal) , number_to_currency(@order.item_total)]]
@order.adjustments.each do |charge|
  totals << [ charge.label , number_to_currency(charge.amount) ]
end
totals << [ I18n.t(:order_total) , number_to_currency(@order.total) ]
totals = [] if  @packaging_slip
%>

<table class="totals">
  <%  totals.each do |label , value| %>
    <tr>
      <td class="cel1 bold"> <%= label %>: </td>
      <td class="cel2 cell" align="right"><%= value %> </td>
    </tr>
  <%end%>
</table>