<table width="700" height="200" border="0">
  <tr>
    <td valign="top" class="cell"><%=I18n.t(:footer_left)%></td>
    <td valign="top" class="cell"><%=I18n.t(:footer_left2)%></td>
    <td valign="top" class="cell"><%=I18n.t(:footer_right)%> </td>
    <td valign="top" class="cell"><%=I18n.t(:footer_right2)%></td>
  </tr>
</table>