<%   # Inside line_items table with 5 columns
totals = [ I18n.t(:subtotal) , number_to_currency(@order.item_total)]
@order.adjustments.each do |charge|
  totals << [ charge.label.to_s + ":" , number_to_currency(charge.amount) ]
end
totals << [ I18n.t(:order_total) , number_to_currency(@order.total) ]
@counter -= totals.length
totals.each do |row|
%>
<tr>
  <td>&nbsp;</td> <td>&nbsp;</td> 
  <td colspan="2" class="cell">
    <div align="right">
      <strong> <%= row[0] %></strong>
    </div>
  </td>
  <td class="cell"><%= row[1] %> </td>
</tr>
